@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Outfit", "sans-serif";
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background: #fff;
  color: #333;
}
a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}
